<launch>

    <arg name="controller" default="rosaria" doc="hardware driver controller: 'rosaria' or 'p2os'" />
    <arg name="controller_port" default="/dev/ttyS0" doc="serial port to communicate with the controller. Should be '/dev/ttyS0' for COM1 port using the onboard computer, or '/dev/ttyUSB0' if using USB-Serial adapter with an external laptop" />
    <arg name="sonar" default="false" doc="true to activate sonars" />
    <arg name="laser" default="false" doc="Laser reference code or 'false' if no laser (Possible laser references are: 'hokuyo', 'lms_1xx', 'lms_2xx', 'lms_1xxx', 'lms_4xxx', 'lms_5xx', 'mrs_1xxx', 'mrs_6xxx', 'rms_3xx', 'tim_5xx', 'tim_7xx', 'tim_7xxS')" />
    <arg name="usb_cam" default="false" doc="true to launch usbcam node" />
    <arg name="kinect" default="false" doc="true to launch openi Kinect node" />
    <arg name="dashboard" default="false" doc="true to launch Pioneer_dashboard node" />

    <!-- laser specific configuration -->
    <arg name="laser_hostname" default="192.168.0.1" doc="Laser IP address or hostname (if applicable)" />
    <arg name="laser_serial_port" default="/dev/ttyUSB0" doc="Laser Port (if applicable)" />
    <arg name="laser_baselink_distance" default="0.13 0 0.39 0 0 0" doc="Distance between baselink and laser node in meters (for setting tf broadcast)" />
        
    <!-- usb camera specific configuration -->
    <arg name="video_port" default="/dev/video0" doc="USB camera port on device (usually: /dev/video0)" />
    <arg name="video_width" default="640" doc="Video image width" />
    <arg name="video_height" default="480" doc="Video image height" />
    <arg name="video_window" default="true" doc="Display video feed on the screen" />

    <!-- kinect specific configuration -->
    <arg name="kinect_data_skip" default="0" doc="number of frames to skip from kinect data" />
    <arg name="kinect_id" default="#1" doc="kinect device number" />

    <!-- hardware controller -->
	<group>
        <include file="$(find pioneer_bringup)/launch/controller.launch">
            <arg name="controller" value="$(arg controller)" />
            <arg name="port" value="$(arg controller_port)" />
            <arg name="sonar" value="$(arg sonar)" />
        </include>
    </group>

    <!-- laser -->
    <group unless="$(eval arg('laser') == false)">
        <include file="$(find pioneer_bringup)/launch/laser.launch">
            <arg name="laser_hostname" value="$(arg laser_hostname)" />
            <arg name="laser_serial_port" value="$(arg laser_serial_port)" />
            <arg name="laser_type" value="$(arg laser)" />
            <arg name="laser_baselink_distance" value="$(arg laser_baselink_distance)" />
        </include>
    </group>

    <!-- usbcam -->
    <group if="$(arg usb_cam)">
        <include file="$(find pioneer_bringup)/launch/camera.launch">
            <arg name="video_port" value="$(arg video_port)" />
            <arg name="video_width" value="$(arg video_width)" />
            <arg name="video_height" value="$(arg video_height)" />
            <arg name="video_window" value="$(arg video_window)" />
        </include>
    </group>

    <!-- kinect -->
    <group if="$(arg kinect)">
        <include file="$(find freenect_launch)/launch/freenect.launch">
            <arg name="data_skip" value="$(arg kinect_data_skip)" />
            <arg name="device_id" value="$(arg kinect_id)" />
        </include>
    </group>

    <!-- dashboard -->
    <group if="$(arg dashboard)">
        <node name="pioneer_dashboard" pkg="rqt_gui" type="rqt_gui" respawn="false" output="screen" args="--perspective-file $(find pioneer_dashboard)/config/pioneer_dashboard.perspective" />
    </group>
</launch>
